# Python
venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
.cache/

# Database (CRITICAL: Do not upload)
*.db
*.db-journal
*.sqlite3

# Environment & Secrets
.env
.env.*
.venv
env/
instance/
.webassets-cache
AWS_accesskey/
serviceAccountKey.json
.gemini/
project.zip
node_modules/
backend/venv_win/
backend/uvicorn.log
*.pem

# OS
Thumbs.db
.DS_Store

# Static/Uploads
backend/app/static/uploads/*
!backend/app/static/uploads/.gitkeep

# Editor
.vscode/
.idea/
*.swp
*.swo