venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
washer_crm.db
tests/
